.main-page {
  background-color: #111b21;
  height: 100vh;
}

.main-page span {
  font-size: 12px;
  color: #aebac1;
}

.top-bars {
  background-color: #202c33;
}

.top-input {
  border: 0;
  background-color: #202c33;
}

.top-images {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.top-icons {
  width: 20px;
  height: 20px;
  color: #aebac1;
}

.top-search {
  color: #aebac1;
  border-radius: 10px;
}

.top-icons:hover {
  cursor: pointer;
}

.single-chats > div {
  border-bottom: 1px solid #202c33;
}

.single-chats:hover {
  cursor: pointer;
  background-color: #202c33;
}

.messages-section {
  background-image: url("https://i.pinimg.com/originals/0a/75/5a/0a755a111030c39fca13d9fa38931f20.jpg");
}
